---
import '../styles/globals.css'
import { ViewTransitions } from 'astro:transitions';
import BackButton from '../components/backbutton.astro';
import Nav from '../components/nav.astro'
import PostHog from '../components/posthog.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scrollbar-none radial-bg">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./crest.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ViewTransitions />
		<PostHog />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		
	</head>
	<body class="text-white radial-bg">
		<div class="lg:px-16 lg:py-12 px-6 py-10 radial-bg min-h-svh">
			<main class="size-full flex flex-col">
				<Nav marginBottom="mb-8"/>

				<div class="flex flex-col w-full items-center">
					<div class="max-w-5xl">
						<slot />
						<div class="flex w-full justify-center py-8">
							<BackButton />
						</div>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>

<style is:inline>
	h1 {
		font-size: 1.5rem;
		font-weight: 400;
		margin-bottom: 12px;
	}

	h2 {
		font-size: 1.25rem;
		font-weight: 500;
		margin-top: 32px;
		margin-bottom: 12px;
	}

	p {
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 12px;
	}

	a {
		font-size: 1rem;
		font-weight: 600;
		color: #66D066;
			}

	a:hover {
		text-decoration: underline;
	}

	ul{
		list-style: disc;
		padding-inline-start: 20px;
	}

	ol{
		list-style: decimal;
		padding-inline-start: 20px;
	}

	li{
		margin-bottom: 6px;
	}

	li::marker{
		font-weight: bold;
	}

</style>