---
import '../styles/globals.css'
import { ViewTransitions } from 'astro:transitions';
import BackButton from '../components/backbutton.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scrollbar-none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./crest.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ViewTransitions />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		
	</head>
	<body class="text-white">
		<div class="px-16 py-12 radial-bg min-h-svh">
			<main class="size-full flex flex-col">
				<header class="navbar mb-16">
					<div class="navbar-start">
						<a href="./" aria-label="Home" class="hover:scale-105 hover:drop-shadow-lg duration-300"><img src="./OIC-Logo-Landscape-w.webp"/></a>
					</div>
					
					<h1 class="text-2xl text-white navbar-center font-normal mb-0">Data Maturity Programme</h1>
			
					<div class="navbar-end">
						<!-- <div class="dropdown dropdown-bottom dropdown-end">
							<div tabindex="0" role="button" class="btn-ghost rounded-full transition-all duration-300 p-2 mb-2">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white" class="size-5">
									<path fill-rule="evenodd" d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Zm0 5.25a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
								</svg>					  
							</div>
							<ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow text-white">
							  <li><a>Item 1</a></li>
							  <li><a>Item 2</a></li>
							</ul>
						</div> -->
					</div>
				</header>
				<div class="flex flex-col w-full items-center">
					<div class="max-w-5xl">
						<slot />
						<div class="flex w-full justify-center py-8">
							<BackButton />
						</div>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>

<style is:inline>
	h1 {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 12px;
	}

	h2 {
		font-size: 1.25rem;
		font-weight: 500;
		margin-top: 32px;
		margin-bottom: 12px;
	}

	p {
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 12px;
	}

	a {
		font-size: 1rem;
		font-weight: 600;
		color: #66D066;
			}

	a:hover {
		text-decoration: underline;
	}

	a:visited {
		color: #66D066;
		opacity: 0.8;
	}
</style>